@import "../../shared/_variables";

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 24px;

  .header {
    color: map-get($colors, white);
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 60%;

  h2 {
    color: map-get($colors, white);
  }

  margin-top: 12px;

  &__card {
    display: flex;
    gap: 12px;

    &__image {
      border-radius: 5px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p-tag {
        width: fit-content;
      }

      span {
        font-size: 18px;
        font-weight: bold;

        &:hover {
          color: #808080;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  ::ng-deep {
    .p-card-body {
      padding: 6px;
    }

    img {
      border-radius: 5px;
    }
  }
}


