@import "../../../shared/_variables";

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 24px;
  width: 80%;
  gap: 18px;

  .header {
    display: flex;
    color: map-get($colors, white);
    align-items: center;

    &__title {
      font-size: 48px;
      flex-basis: 60%;
    }

    &__subtitle {
      display: block;
      padding: 0;
      color: map-get($colors, white);
      font-size: 24px;

      p-tag {
        &:not(:first-child) {
          margin-left: 12px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__rating {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .pi-star-fill {
        font-size: 30px;
        color: map-get($colors, yellow);
      }

      span {
        &:first-child {
          font-size: 15px;
          font-weight: bold;
        }

        &:nth-child(2) {
          font-size: 30px;
        }

        &:nth-child(3) {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }

  .media-content {
    display: flex;
    gap: 6px;

    p-image {
      border-radius: 5px;
    }

    youtube-player {
      border-radius: 5px;
    }
  }

  .item-details {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__genre {
      display: flex;
      gap: 6px;

      p-chip {
        &:hover {
          cursor: pointer;
        }
        background: map-get($colors, yellow);
      }
    }

    &__description {
      color: map-get($colors, white);
      font-size: 18px;
      font-weight: bold;
    }
  }

  ::ng-deep {
    img {
      border-radius: 10px;
    }

    iframe, youtube-player-placeholder {
      border-radius: 10px;
    }
  }
}
