<div class="main-container">
  <div class="header">
    <h1>{{ title }}</h1>
    <h4>{{ subtitle }}</h4>
  </div>
  <div class="list-container" *ngFor="let item of itemsList; let i = index;">
    <p-card>
      <div class="list-container__card">
        <div class="list-container__card__content">
          <div class="list-container__card__content__image" (click)="viewSelectedMovieDetails(item?.id)">
            <p-image
              src="{{ item?.primaryImage }}"
              alt="Image"
              width="120"/>
          </div>

          <div class="list-container__card__content__details">
            <p-tag severity="contrast" value="{{ i + 1 }}" />
            <span class="title" (click)="viewSelectedMovieDetails(item?.id)">{{ item?.primaryTitle }}</span>
            <span class="item-details">
              <span>{{ item?.startYear }}</span>
              <span>{{ item?.runtimeMinutes | runningTime }}</span>
              <span>{{ item?.contentRating }}</span>
            </span>
            <span class="item-details">
              <ng-container *ngFor="let genre of item?.genres">
                <p-chip pRipple label="{{ genre }}"></p-chip>
              </ng-container>
            </span>
            <span>
              <i class="pi pi-star-fill"></i> {{ item?.averageRating }}
              <span>({{ item?.numVotes | votesCount }})</span>
            </span>
          </div>
        </div>

        <div class="list-container__card__info">
          <p-button icon="pi pi-info-circle" severity="secondary" [rounded]="true" />
        </div>
      </div>
    </p-card>
  </div>
</div>

