@import "./shared/_variables";

.navbar {
  overflow: hidden;
  background-color: lighten(map-get($colors, black), 20%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 10;

  &__container {
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 36px;
    margin-left: 24px;

    .menu-item {
      display: flex;
      gap: 6px;
      font-size: 20px;

      span {
        color: map-get($colors, white);
      }

      p-chip {
        background: none;
        &:hover {
          cursor: pointer;
          background-color: lighten(#000000, 20%);
        }
      }
    }

    p-image {
      &:hover {
        cursor: pointer;
      }
    }

    p-iconfield {
      input {
        width: 500px !important;
        &:enabled:focus {
          border: 2px solid map-get($colors, yellow);
        }
      }
    }
  }
}

mega-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: lighten(map-get($colors, black), 20%);
}

.footer {
  overflow: hidden;
  background-color: lighten(map-get($colors, black), 20%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  z-index: 10;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 24px;

    &-text {
      color: map-get($colors, white);
      font-size: 18px;
      margin-top: 12px;

      i {
        color: red;
      }
    }
  }
}
