<div class="navbar">
  <div class="navbar__container">
    <p-image
      src="../../../assets/images/main-logo1.png"
      alt="Image"
      width="120"/>

    <div class="menu-item">
      <p-chip pRipple (click)="onMenuClick()">
        <span><i class="pi pi-bars"></i></span>
        <span>Menu</span>
      </p-chip>
    </div>

    <p-iconField iconPosition="left">
      <p-inputIcon class="pi pi-search"></p-inputIcon>
      <input type="text" pInputText placeholder="Search"/>
    </p-iconField>
  </div>
</div>

<mega-menu *ngIf="showMenu" (onMenuClose)="onMenuClose()"></mega-menu>

<router-outlet />

