@import "../../../shared/_variables";

.skeleton {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    &__card {
      margin-top: 12px;
      display: flex;
      gap: 12px;
    }
  }

  margin-top: 90px;
  margin-left: 12px;

  p-skeleton {
    background: map-get($colors, 'gray');
  }
}
