@import "../../../variables";

.skeleton {
  margin-top: 90px;
  margin-left: 12px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin-top: 64px;

    &__media {
      display: flex;
      gap: 12px;
    }

    &__content {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  p-skeleton {
    background: map-get($colors, 'gray');
  }
}
